@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500&display=swap');


body { font-family: Montserrat;
}

a { text-decoration: none;
}

.header {display: flex;
margin-top: 15px;}

.header-left {font-size: 14px;
	margin: 0px 30px;

}

.header-left a {color: black;
	font-weight: 300;
	font-family: Montserrat Alternates;
}

.header-middle {display: flex;
font-size: 10px;
margin: 0px auto;
}

.header-middle a {color: #961212;
	padding: 0px 10px;
	margin: 0px 15px;
}

.btn-header { margin: 0px;
	margin-top: 24px;
 }

 .header-right {font-size: 8px;
 	margin: 0px 70px;
 }

 .header-right a { 	background-color: #000000;
 	color: white;
 	padding: 10px;
 	border-radius: 7px;
 	font-weight: 400;
}

.img-fitness {text-align: center;
}

.container-middle {text-align: center;
	width: 500px;
margin: 0px auto;
}

#text-middle {
	margin-bottom: 35px;
	margin-top: 0px;
}

#btn-getstarted {background-color: #961212;
color: white;
padding: 15px;
border-radius: 17px;
font-weight: 700;
font-size: 12px;
font-family: Montserrat Alternates;
}

#text-creditcard {font-size: 13px;
font-weight: 700;
margin-top: 20px;}

.img-blog {display: flex;
	margin: 0px auto;
	width: 900px;
	justify-content: space-between;
}

.img-blog img {width: 250px;
height: 175px;
border-radius: 10px;
}

h2 {color: #961212;
margin-left: 300px;
}

.typeform-widget {margin-top: 75px;
}
